.header {
  height: 90px;
  width:100%;
  position: fixed;
  margin: -10px 0 0 -10px;
  background-color: mediumspringgreen;
  #title {
    text-decoration: none;
  }
    h1 {
    color: aliceblue;
    margin-left:150px;
      margin-top: -60px;
  }
  img {
    height: 60px;
    margin:15px 0 15px 50px;
  }
}



.mainContent {
  height: 300px;
}

.footer {
  text-align: center;
  position: fixed;
  height: 40px;
  bottom: 0;
  margin: -10px 0 0 -10px;
  background-color: #A5C1E6;  width: 100%;
}